
body{
    margin: 0;
    padding: 0;
    background-color: red;
}


div.container{
    background-color: rgb(0, 255, 51);
    height: 200px; 
    width: 200px; 
}
.container{
    background-color: rgb(0, 255, 51);
    height: 200px; 
    width: 200px; 
}
#item1{

}

.container p{
    background-color: bisque;
}

.pgh{
    color: rgb(236, 51, 41);
    padding: 20px;
}
#id_pgh{
    margin: 20px;
}

div.container{
 border: 1px solid black;   
}

div p{
    border: 10px solid black;
} 

.container #id_pgh {
    font-size: larger;

}
.container #item1{
    font-size: larger;
}



